.main_sobre {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
}

.div_top_sobre {
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
}

.div_titulo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;

  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #000;
}

.div_textao {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;

  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.div_left {
    width: 40%;
}

.div_right {
    width: 60%;
}

.div_link_fale_conosco {
    display: flex;
    justify-content: center;
}

.img_conta_gotas {
  width: 100%;
  max-width: 500px;
  padding-right: 1%;
  height: auto;
}

.img_bisnaga {
  width: 100%;
  padding-left: 1%;
  max-width: 572px;
  height: auto;
}

.link_fale_conosco {
  background: #94426E;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;

  cursor: pointer;
}

.texto_fale_conosco {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}

.img_dente {
  width: 100%;
  height: auto;
}