.div_fale_conosco {
    background-color: #FFF;
}

#div_superior {
    display: flex;
    padding-top: 20px;
}

#div_direita {
    width: 50%;
    margin-left: 1%
}

#div_esquerda {
    width: 50%;
    margin-right: 1%
}

.titulo {
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #000000;
}

.inputs {
    background: #F5F5F5;
    border-radius: 8px;
    border: none;

    font-size: 16px;
    line-height: 24px;

    color: #878787;

    margin-top: 10px;
    padding-left: 15px;
    height: 47px;
    width: 90%;
}

.texto {
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

.div_checks {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checks {
    box-sizing: border-box;
    border: 1px solid #878787;
}

.label_checks {
    padding-right: 15px;
    padding-left: 5px;
}

#mensagem_text_area {
    padding-top: 10px;
    resize: none;
}

#div_botao_enviar_mensagem {
    display: flex;
}

.botao_enviar_mensagem {
    background: #94426E;
    border-radius: 8px;
    border: none;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
    width: 91%;

    cursor: pointer;
}

.texto_fale_conosco {
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

#img_enviar {
    padding-left: 20px;
}