.div_item_carrinho_modal {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 15px;
}

.div_imagem_item_carrinho_modal {
  width: 30%;
  align-content: center;
}

.imagem_item_carrinho {
  width: 100%;
}

.div_info_item_carrinho_modal {
  width: 80%;
  padding-left: 5%;
}

.div_remove_item_carrinho_modal {
  width: auto;
  align-content: center;
}

.div_botoes_quantidade_item_carrinho_modal {
  float: right;
  margin-right: 12px;
}

.botao_quantidade_item_carrinho_modal {
  margin-left: 4px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.botao_item_remover_carrinho_modal {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}