#footer_top {
    background-color: #F5F5F5;
}

.div_centrado {
    display: flex;
    justify-content: center;
}

#footer_bottom {
    text-align: center;
    background-color: #222222;
}

#logo_bottom {
    font-family: 'Shippori Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
}

.direito_e_endereco {
    font-family: 'Shippori Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF; 
}

#div_redes_sociais {
    width: 31%;
    justify-content: space-between;
    display: flex;
}

#div_links_footer {
    width: 45%;
    justify-content: space-between;
    display: flex;
}

.link_share {
    border: none;
    background-color: transparent;
    cursor: pointer;
}