.footer_link{
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    text-decoration-line: underline;
    background: transparent;
    border: none;
    cursor: pointer;

    color: #222222;
}

.lista_topicos {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.topico {
    font-size: 14px;
    line-height: 21px;

    color: #878787;

    padding-top: 1px;
    padding-bottom: 2px;
}