@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

.div_header {
    display:flex;
    justify-content: center;
    background-color: #FFF;
}

.div_barra_superior {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.div_logo {
    flex-grow: 1;
    text-align: left;

    font-family: 'Shippori Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    cursor: pointer;

    color: #222222;
    text-decoration: none;
}

.div_barra_de_pesquisa {
    flex-grow: 3;
    background: #F5F5F5;
    border-radius: 8px;
    align-items: center;
    display: flex;
}

.div_lupa {
    padding-right: 10px;
}

.div_input {
    width: 100%;
    padding-left: 10px;
}

.caixa_de_pesquisa {
    background: transparent;
    border: none;
    width: 100%;

    font-size: 16px;
    line-height: 24px;

    color: #878787;
}

.caixa_de_pesquisa:focus {
    outline: none;
}

.botao_lupa {
    background: transparent;
    border: none;
    float: right;
    cursor: pointer;
}

.div_sacola {
    flex-grow: 2;
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.botao_sacola {
    background: transparent;
    border: none;
    cursor: pointer;
}

.div_menu {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.div_opcao {
    margin-right:7%;

    font-size: 14px;
    line-height: 21px;
    cursor: pointer;

    color: #222222;
}

.div_promocao {
    color: #DC5E5E;
    text-align: right;
    flex: 1;

    font-size: 14px;
    line-height: 21px;

    cursor: pointer;
}

.div_hr {
    background-color: #FFF;
    width: 80%;
    padding-top: 7px;
    padding-bottom: 4px;
}

#hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid;
    border-color: #CCCCCC;
}