.div_showcase {
    background-color: #FFF;
}

.div_titulo_showcase{
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    text-transform: lowercase;
    
    color: #000000;
}

.div_lista_de_produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}