.fonte_normal {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.fonte_negrito {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.margem_10 {
  margin-left: 10%;
  margin-right: 10%;
}

.padding_1 {
  padding-left: 1%;
  padding-right: 1%;
}
